@media (min-width:1290px){

    .s4{
        color:white;
    }
    .s1{
        margin-left:2px;
        color:white;
    }
    .s2{
        margin-left:2px;
        color:white;
    }
    .s3{
        margin-left:2px;
        color:white;
    }
    #a1{
        margin-left:2px;
    }
    #a2{
        margin-left:2px;
    }
    #a3{
        margin-left:2px;
    }
    #i2{
        margin-left:2px;
    }
    .s5{
        color:white;
    }
    .but{
        background-color:white;
    }
    .but1{
        background-color:white;
    }
    body{
        overflow-x:hidden;
    }
    .area{
        height:650px;
        width:1600px;
        background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
    }
    #navbar{
        background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
    }
    .marg1{
        height:200px;
        width:400px;
        margin-top:100px;
        margin-left:250px;
    }
    .marg2{
        height:100px;
        width:200px;
        margin-top:50px;
        margin-left:20px;
    }
    .heading1{
        color:white;
        font-size:35px;
    }
    #des{
        margin-top:30px;

    }
    .cen{
        margin-top:60px;
        margin-left:30em;
        height:160px;
        width:660px;
    }
    .abt{
        font-size:40px;
    }
    .abt1{
        font-size:20px;
    }
    .sample{
        height:300px;
        width:300px;
        background-color:grey;
    }
    .samdesc{
        height:200px;
        width:200px;


    }
    #flexid{
        margin-left:20em;
        height:380px;
        width:1000px;
    }
    #samtext{
       margin-left:3em;
    }
    #flag{
        height:300px;
        width:300px;
    }
    #gall{
        height:60px;
        width:100px;
        margin-left:730px;
        margin-top:60px;

    }
    .gal{
        font-size:35px;
    }
    .maing{
        margin-left:48px;
        margin-top:80px;
        height:420px;
        width:700px;
       }
    .carousel{
        margin-left:180px;
    }
    #carouselExample{
        height:700px;
        width:700px;
        margin-left:250px;
        margin-top:100px
    }
    #inner{
        height:700px;
        width:700px;
        margin-top:0px;
        margin-left:0px
    }
    .stat{
        height:60px;
        width:620px;
        margin-top:-160px;
        margin-left:500px;
    }
    #circle{
        height: 150px;
        width: 150px;
        background-color: #555;
        border-radius: 50%;
        border:4px solid black;
    }
    #carouselExampleFade{
        height:200px;
        width:600px;
        margin-top:80px;
        margin-left:100px;
    }
    .board{

        margin-top:30px;
        margin-left:380px;
    }
    .line2{
        height:210px;
        width:2px;
        border:2px solid black;
        margin-top:20px;
        margin-left:775px;
        margin-bottom:10px;
    }
    .reach{
        margin-left:665px;
        
    }
    .cont{
        font-size:35px;
        color: blue;
    }
    .reach1{
        margin-left:630px;
        margin-top:20px;
    }
    .get{
        font-size:50px;
    }
    .touch{
        font-size:50px;
        color:blue;
    }
    .intouch{
        margin-top:20px;
        margin-left:520px;
        height:50px;
        width:540px;
    }
    .form{
        margin-top:40px;
        margin-left:515px;
        height:600px;
        width:560px;
    }
    .footer{
        margin-top:-180px;
        height:300px;
        width:1600px;
        background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
    }
    #butt{
        width:560px;
        height:60px;
        background-image:linear-gradient(to right, rgb(33, 19, 122) 10%,rgb(52, 32, 186) 50% )
    }
    .send{
        color:white;
    }
    .horline{
        position:relative;
        top:60px;
        left:130px;
        height:5px;
        width:1300px;
        border:3px solid white; 
        background-color:white;
    }
    .grid{
        margin-top:100px;
        margin-left:250px;
    }
    #footlogo{
        height:90px;
        width:90px;
    }
    }
    
    @media ( 901px<=width<=1280px){
        .s4{
            color:white;
        }
        .s1{
            margin-left:2px;
            color:white;
        }
        .s2{
            margin-left:2px;
            color:white;
        }
        .s3{
            margin-left:2px;
            color:white;
        }
        #a1{
            margin-left:2px;
        }
        #a2{
            margin-left:2px;
        }
        #a3{
            margin-left:2px;
        }
        #i2{
            margin-left:2px;
        }
        .s5{
            color:white;
        }
        .but{
            background-color:white;
        }
        .but1{
            background-color:white;
        }
        body{
            overflow-x:hidden;
        }
        .area{
            height:650px;
            width:1600px;
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        #navbar{
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        .marg1{
            height:180px;
            width:250px;
            margin-top:90px;
            margin-left:180px;
        }
        .marg2{
            height:80px;
            width:180px;
            margin-top:50px;
            margin-left:15px;
        }
        .heading1{
            color:white;
            font-size:35px;
        }
        #des{
            margin-top:25px;
    
        }
        .cen{
            margin-top:50px;
            margin-left:24em;
            height:120px;
            width:600px;
        }
        .abt{
            font-size:30px;
        }
        .abt1{
            font-size:15px;
        }
        #gall{
            height:60px;
            width:100px;
            margin-left:600px;
            margin-top:0px;

        }
        .gal{
            font-size:25px;
        }
        #flag{
            height:400px;
            width:400px;
        }
        .maing{
            margin-left:55px;
            margin-top:80px;
            height:500px;
            width:700px;
           }
        .carousel{
            margin-left:60px;
        }
        #carouselExample{
            height:600px;
            width:600px;
            margin-left:300px;
            margin-top:100px
        }
        #inner{
            height:600px;
            width:600px;
            margin-top:0px;
            margin-left:0px
        }
        #flexid{
            margin-left:12.6em;
            height:400px;
            width:1000px;
        }
        
    }
    @media ( 645px<=width<=900px){
        .s4{
            color:white;
        }
        .s1{
            margin-left:2px;
            color:white;
        }
        .s2{
            margin-left:2px;
            color:white;
        }
        .s3{
            margin-left:2px;
            color:white;
        }
        #a1{
            margin-left:2px;
        }
        #a2{
            margin-left:2px;
        }
        #a3{
            margin-left:2px;
        }
        #i2{
            margin-left:2px;
        }
        .s5{
            color:white;
        }
        .but{
            background-color:white;
        }
        .but1{
            background-color:white;
        }
        body{
            overflow-x:hidden;
        }
        .area{
            height:560px;
            width:900px;
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        #navbar{
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        .marg1{
            height:140px;
            width:180px;
            margin-top:65px;
            margin-left:80px;
        }
        .marg2{
            height:70px;
            width:70px;
            margin-top:40px;
            margin-left:15px;
        }
        .heading1{
            color:white;
            font-size:30px;
        }
        #des{
            margin-top:20px;
    
        }
        .cen{
            margin-top:35px;
            margin-left:21em;
            height:100px;
            width:560px;
        }
        .abt{
            font-size:25px;
        }
        .abt1{
            font-size:15px;
        }
        #flag{
            height:300px;
            width:300px;
        }
    }   
    
    @media (max-width:641px){

        .s4{
            color:white;
        }
        .s1{
            margin-left:2px;
            color:white;
        }
        .s2{
            margin-left:2px;
            color:white;
        }
        .s3{
            margin-left:2px;
            color:white;
        }
        #a1{
            margin-left:2px;
        }
        #a2{
            margin-left:2px;
        }
        #a3{
            margin-left:2px;
        }
        #i2{
            margin-left:2px;
        }
        .s5{
            color:white;
        }
        .but{
            background-color:white;
        }
        .but1{
            background-color:white;
        }
        body{
            overflow-x:hidden;
        }
        .area{
            height:400px;
            width:1900px;
            background-image:linear-gradient(to right,rgb(28, 28, 48) 1%,rgb(44, 44, 75) 2%,rgb(101, 101, 123)18%);
        }
        #navbar{
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        .marg1{
            margin-top:20px;
            height:90px;
            width:110px;
            margin-top:80px;
            margin-left:20px;
        }
        .marg2{
            height:300px;
            width:300px;
            margin-top:50px;
            margin-left:-60px;
        }
        .logo{
            height:260px;
            width:260px;
        }
        .heading1{
            margin-top:20px;
            color:white;
            font-size:20px;
        }
        #des{
            margin-top:10px;
    
        }
        .cen{
            margin-top:3px;
            margin-left:0.25em;
            height:70px;
            width:380px;
        }
        .abt{
            font-size:20px;
        }
        .abt1{
            font-size:15px;
        }
        #flexid{
            margin-left:0px;
            width:300px;
        }
        #flag{
            height:200px;
            width:180px;
        }
        #samtext{
            width:140px;
        }
        .maing{
            margin-left:30px;
        }
        .stat{
            height:170px;
            width:280px;
            margin-top:10px;
            margin-left:50px;
            margin-bottom:10px;
        }
        .board{
            margin-top:18px;
            margin-left:45px;
            margin-right:25px;
            margin-bottom:20px;
        }
        .line2{
            height:150px;
            width:3px;
            border:3px solid black;
            margin-top:10px;
            margin-left:190px;
            margin-bottom:20px;
        }
        #circle{
            height: 75px;
            width: 75px;
            background-color: #555;
            border-radius: 50%;
            border:3px solid black;
        }
        .reach{
            margin-left:125px;
            margin-bottom:10px;
        }
        .cont{
            font-size:25px;
            color: blue;
        }
        .reach1{
            margin-left:100px;
            margin-top:10px;
        }
        .get{
            font-size:35px;
        }
        .touch{
            font-size:35px;
            color:blue;
        }
        .intouch{
            margin-top:0px;
            margin-left:45px;
            height:40px;
            width:300px;
        }
        .form{
            margin-top:70px;
            margin-left:90px;
            height:360px;
            width:200px;
        }
        .footer{
            margin-top:0px;
            height:150px;
            width:500px;
            background-image:linear-gradient(to right,rgb(28, 28, 48) 5%,rgb(44, 44, 75) 40%,rgb(101, 101, 123)100%,rgb(79, 79, 151) 2%);
        }
        #butt{
            width:200px;
            height:35px;
            background-image:linear-gradient(to right, rgb(33, 19, 122) 10%,rgb(52, 32, 186) 50% )
        }
        .send{
            color:white;
        }
        .horline{
            position:relative;
            top:20px;
            left:30px;
            height:5px;
            width:300px;
            border:3px solid white; 
            background-color:white;
        }
        .grid{
            margin-top:20px;
            margin-left:10px;
            height:100px;
            width:400px;
        }
        #footlogo{
            height:30px;
            width:30px;
        }
    }
        